<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/alifbeelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alifbeelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlifBee">
        <activity
            android:name=".ui.activity.MoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".ui.MorebyAlifBee"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/more_by_alifBee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="Home"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AlifBee.la"
            android:windowFullscreen="true" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AlifBee"
            android:windowFullscreen="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>